body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #333;
  color: white;
}

/* Estilos del Header/Nav */

header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}

.container-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 93, 93);
  padding: 2rem;
  max-width: 700px;
  margin: 2rem auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  color: rgb(236, 236, 236);
}

main img {
  border-radius: 20%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nombre-foto {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dia-2 {
  margin-top: 4rem;
}

.dia-3 {
  margin-top: 1rem;
}

section {
  background-color: #1a1a1a;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  padding: 1rem 0.5rem -3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

section h2 {
  margin: 2rem 0 3rem;
  font-size: 1.5rem;
}

section ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

section li {
  display: inline-block;
}

section a {
  text-decoration: none;
  color: white;
  background-color: #333;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}

section a:hover {
  background-color: #444;
}
